/* Bibtex navigation bar */
.bibtex_search_bar {
    text-align: center;
}

/* Bibtex item */
.bibtexentry {
    margin-top: 0.2em;
    margin-bottom: 02em;
}

.iconify {
    font-size: 18px;
    line-height: 24px;
}

.modal{
    max-width: 90%;
}
