/********************************************************************************************************
 **                                                                                                    **
 ** My own CSS which is a result of a merge between the following main sources:                        **
 **   - https://github.com/thi-ng/org-spec                                                             **
 **   - https://github.com/gongzhitaao/orgcss                                                          **
 **   - http://doc.norang.ca/org-mode.html                                                             **
 **                                                                                                    **
 ********************************************************************************************************/

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

/*********************************************************************************
 ** Global HTML
 *********************************************************************************/
html {
    font-family: sans-serif;
    font-size: 90%;
    line-height: 1.4em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0;
    background: #bbb none repeat scroll 0 0;
    margin: 0px auto;
    padding: 1em;
    color: #000;
}


#content {
    border: 1px solid #555;
    background: #eee;
    margin: 0;
    padding: 3em;
}

#postamble {
    color: #222;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

/*********************************************************************************
 ** Media part
 *********************************************************************************/
@media screen {
    #table-of-contents {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2em 0 2em 2em;
        width: 15%;
        height: 100vh;
        font-size: 80%;
        background: #eee;
        overflow: auto;
    }

    #table-of-contents ul>li>ul>li>ul>li {
        display: none;
    }

    #table-of-contents h2 {
        margin-top: 0;
    }

    #table-of-contents code {
        font-size: 12px;
    }

    #content {
        margin-left: 17%;
    }

    #postamble {
        margin-left: 17%;
    }
}

@media screen and (max-width: 1024px) {

    #table-of-contents {
        display: none;
    }

    #content {
        margin-left: 0%;
        max-width: 90%;
    }

    #postamble {
        margin-left: 0%;
        max-width: 90%;
    }
}


@media print {
    body {
        color: black;
    }

    @page {
        margin: 25mm;
    }

    h2, h3 {
        page-break-before: always;
        margin-top: 0;
    }

    table {
        page-break-inside: avoid;
    }

    a:visited {
        color: black;
        background: #ff8;
    }

    a[href^="http"]:visited {
        background: #bff;
    }
}


/*********************************************************************************
 ** Title
 *********************************************************************************/

h1 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    background: #527d9a none repeat scroll 0 0;
    color: #fff;
    font-size: 230%;
    font-weight: bold;
    margin: -1em -1em 5em;
    padding: 0.75em 1em;
}


/*********************************************************************************
 ** Levels
 *********************************************************************************/

h2, h3 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

h2 {
    color: #527d9a;
    border-bottom: 1px solid #527d9a;
    padding-bottom: 0.5em;
    font-size: 1.75em;
}

h3 {
    color: #527d9a;
    margin-top: 2em;
    font-size: 1.5em;
}

h4 {
    color: #527d9a;
    font-size: 1.25em;
}

h5 {
    color: #527d9a;
    font-size: 1em;
}

.org-org-level-1 {
    color: #00f
}

.org-org-level-2 {
    color: sienna
}

.org-org-level-3 {
    color: #a020f0
}

.org-org-level-4 {
    color: #b22222
}

.org-org-level-5 {
    color: #228b22
}

.org-org-level-6 {
    color: #008b8b
}

.org-org-level-7 {
    color: #483d8b
}

.org-org-level-8 {
    color: #8b2252
}

/*********************************************************************************
 ** Footer
 *********************************************************************************/
#postamble p {
    padding: 0;
    margin: 0;
}

#postamble a {
    color: #555;
}

#postamble a:hover {
    color: #900;
}


/*********************************************************************************
 ** Code
 *********************************************************************************/

h2 code, h3 code, h4 code, h5 code, td code {
    font-family: inherit !important;
    font-size: inherit !important;
}

td code {
    font-weight: bold;
}

code {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    background-color: #f8f8f8;
}

p>code, li>code {
    background-color: #f8f8f8;
    padding: 0.25em;
}

p {
    text-align:justify;
}



/*********************************************************************************
 ** Links
 *********************************************************************************/
a:link, a:hover, a:visited {
    text-decoration: none;
    color: #527d9a;
}

a:visited {
    color: #F33;
}

a:link:hover,
a:visited:hover {
    background: #ff0;
}

a[href^="http"] {
    color: #33F;
}

a[href^="http"]:visited {
    background: #dff;
}

a[href^="http"]:link:hover,
a[href^="http"]:visited:hover {
    background: #0ff;
}

a[href^="http"]:after {
    content: "\21B3";
    background: white;
    padding-left: 0.2em;
}

/*********************************************************************************
 ** TOC
 *********************************************************************************/
#meta {
    margin-top: 2em;
}

#table-of-contents a:link,
#table-of-contents a:visited {
    color: black;
    background: transparent;
}

#table-of-contents {
    line-height: 1.2;
}

#table-of-contents h2 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    background: #527d9a none repeat scroll 0 0;
    color: #fff;
    font-size: 200%;
    font-weight: bold;
    margin: -1em -1em 0.5em;
    padding: 1em 0.5em;
    border-bottom: 0;
}

#table-of-contents ul {
    list-style: none;
    padding-left:0;
    font-weight: normal;
}

#table-of-contents div>ul>li {
    margin-top: 1em;
    font-weight: bold;
}

#table-of-contents .tag {
    display: none;
}

#table-of-contents .todo,
#table-of-contents .done {
    font-size: 80%;
}

#table-of-contents ol>li {
    margin-top: 1em;
}


/*********************************************************************************
 ** Table
 *********************************************************************************/
table {
    width: 100%;
    boder:0px;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}


/*********************************************************************************
 ** List
 *********************************************************************************/

li {
    /*
    background-image: url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 100% .4em;
   */
    margin: 0.3em 0;
}


/*********************************************************************************
 ** img figure and quotes
 *********************************************************************************/
img {
    max-width: 90%;
}

figure img {
    display: block;
    margin: auto;
}

blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ccc
}

/*********************************************************************************
 ** warning, info, example
 *********************************************************************************/
.warning, .info, .example {
    position: relative;
    margin: 0 1.2em;
    padding: 0.25em 1em;
    border-left: 4px solid;
}

.warning a, .info a, .example a {
    background: transparent !important;
    border-bottom: 1px dotted;
}

.warning a[href^="http"]:after, .info a[href^="http"]:after, .example a[href^="http"]:after {
    background: transparent !important;
}

.warning:before, .info:before, .example:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em 0;
    font-size: 60%;
    border-bottom-left-radius: 0.5em;
}

.warning {
    background: #fcc;
    color: #600;
}

.example {
    background: #def;
    color: #069;
}

.info {
    background: #efe;
    color: #060;
}

.warning a {
    color: #600;
}

.example a {
    color: #069;
}

.info a {
    color: #060;
}

div.warning:before {
    content: "WARNING";
    background: #c99;
    color: #fcc;
}

div.example:before {
    content: "EXAMPLE";
    background: #abc;
    color: #def;
}

div.info:before {
    content: "INFO";
    background: #9c9;
    color: #efe;
}


/*********************************************************************************
 ** Calendar / agenda
 *********************************************************************************/
.org-calendar-month-header {
    color: #00f
}

.org-calendar-today {
    text-decoration: underline
}

.org-calendar-weekday-header {
    color: #008b8b
}

.org-calendar-weekend-header {
    color: #b22222
}


.org-org-agenda-calendar-event,
.org-org-agenda-calendar-sexp {
    color: #000;
    background-color: #fff
}

.org-org-agenda-clocking {
    background-color: #ff0
}

.org-org-agenda-column-dateline {
    background-color: #e5e5e5
}

.org-org-agenda-current-time {
    color: #b8860b
}

.org-org-agenda-date {
    color: #00f
}

.org-org-agenda-date-today {
    color: #00f;
    font-weight: 700;
    font-style: italic
}

.org-org-agenda-date-weekend {
    color: #00f;
    font-weight: 700
}

.org-org-agenda-diary {
    color: #000;
    background-color: #fff
}

.org-org-agenda-dimmed-todo {
    color: #7f7f7f
}

.org-org-agenda-done {
    color: #228b22
}

.org-org-agenda-filter-category,
.org-org-agenda-filter-effort,
.org-org-agenda-filter-regexp,
.org-org-agenda-filter-tags {
    color: #000;
    background-color: #bfbfbf
}

.org-org-agenda-restriction-lock {
    background-color: #eee
}

.org-org-agenda-structure {
    color: #00f
}


/*********************************************************************************
 ** Source code
 *********************************************************************************/

pre {
    font-family: Inconsolata;
    border: 0;
    box-shadow: none;
}

pre.example:before {
    content: "Properties";
    display: block;
    border-bottom: 1px dotted;
    margin-bottom: 1em;
}

pre.example {
    background: #fec;
    color: #666;
    font-size: 0.85em;
}

pre {
    background-color: #f8f8f8;
}


pre.src {
    padding: 0.5em;
    margin: 0 0 0 0;
}

pre.src:before {
    display: block;
    position: absolute;
    background-color: #ccccd0;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: white;
    font-size: 80%;
}

pre.src-plantuml:before {
    content: "UML";
}

pre.src-javascript:before {
    content: "JS";
}

pre.src-clojure:before {
    content: "CLJ";
}

pre.src-c:before {
    content: "C";
}

span.org-string {
    color: #f94;
}

span.org-keyword {
    color: #c07;
}

span.org-variable-name {
    color: #f04;
}

span.org-clojure-keyword {
    color: #09f;
}

span.org-comment, span.org-comment-delimiter {
    color: #999;
}

span.org-rainbow-delimiters-depth-1, span.org-rainbow-delimiters-depth-5 {
    color: #666;
}

span.org-rainbow-delimiters-depth-2, span.org-rainbow-delimiters-depth-6 {
    color: #888;
}

span.org-rainbow-delimiters-depth-3, span.org-rainbow-delimiters-depth-7 {
    color: #aaa;
}

span.org-rainbow-delimiters-depth-4, span.org-rainbow-delimiters-depth-8 {
    color: #ccc;
}

:not(pre)>code {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
}

.org-src-container {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: Lucida Console, monospace;
    position: relative
}

.org-src-container>pre {
    overflow: auto
}

.org-src-container>pre:before {
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    top: 0;
    right: 0;
    padding: 0 .5em;
    border-bottom-left-radius: 8px;
    border: 0;
    color: #fff;
    font-size: 80%
}

div.figure {
    font-size: 0.85em;
}

.tag {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    float: right;
    margin-top: 1em;
    background: transparent;
}

.tag span {
    background: #ccc;
    padding: 0 0.5em;
    border-radius: 0.2em;
    color: white;
}


/*********************************************************************************
 ** TODO part
 *********************************************************************************/
.todo, .done {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0 0.25em;
    border-radius: 0.2em;
}

.todo {
    background: #f04;
    color: white;
}

.done {
    background: #5f7;
    color: white;
}


/*********************************************************************************
 ** Content language information
 *********************************************************************************/

.org-src-container>pre.src-sh:before {
    content: "sh"
}

.org-src-container>pre.src-bash:before {
    content: "bash"
}

.org-src-container>pre.src-emacs-lisp:before {
    content: "Emacs Lisp"
}

.org-src-container>pre.src-R:before {
    content: "R"
}

.org-src-container>pre.src-cpp:before {
    content: "C++"
}

.org-src-container>pre.src-c:before {
    content: "C"
}

.org-src-container>pre.src-html:before {
    content: "HTML"
}

.org-src-container>pre.src-javascript:before,
.org-src-container>pre.src-js:before {
    content: "Javascript"
}


.org-src-container>pre.src-abc:before {
    content: "ABC"
}

.org-src-container>pre.src-asymptote:before {
    content: "Asymptote"
}

.org-src-container>pre.src-awk:before {
    content: "Awk"
}

.org-src-container>pre.src-C:before {
    content: "C"
}

.org-src-container>pre.src-calc:before {
    content: "Calc"
}

.org-src-container>pre.src-clojure:before {
    content: "Clojure"
}

.org-src-container>pre.src-comint:before {
    content: "comint"
}

.org-src-container>pre.src-css:before {
    content: "CSS"
}

.org-src-container>pre.src-D:before {
    content: "D"
}

.org-src-container>pre.src-ditaa:before {
    content: "Ditaa"
}

.org-src-container>pre.src-dot:before {
    content: "Dot"
}

.org-src-container>pre.src-ebnf:before {
    content: "ebnf"
}

.org-src-container>pre.src-forth:before {
    content: "Forth"
}

.org-src-container>pre.src-F90:before {
    content: "Fortran"
}

.org-src-container>pre.src-gnuplot:before {
    content: "Gnuplot"
}

.org-src-container>pre.src-haskell:before {
    content: "Haskell"
}

.org-src-container>pre.src-io:before {
    content: "Io"
}

.org-src-container>pre.src-java:before {
    content: "Java"
}

.org-src-container>pre.src-latex:before {
    content: "LaTeX"
}

.org-src-container>pre.src-ledger:before {
    content: "Ledger"
}

.org-src-container>pre.src-ly:before {
    content: "Lilypond"
}

.org-src-container>pre.src-lisp:before {
    content: "Lisp"
}

.org-src-container>pre.src-makefile:before {
    content: "Make"
}

.org-src-container>pre.src-matlab:before {
    content: "Matlab"
}

.org-src-container>pre.src-max:before {
    content: "Maxima"
}

.org-src-container>pre.src-mscgen:before {
    content: "Mscgen"
}

.org-src-container>pre.src-Caml:before {
    content: "Objective"
}

.org-src-container>pre.src-octave:before {
    content: "Octave"
}

.org-src-container>pre.src-org:before {
    content: "Org"
}

.org-src-container>pre.src-perl:before {
    content: "Perl"
}

.org-src-container>pre.src-picolisp:before {
    content: "Picolisp"
}

.org-src-container>pre.src-plantuml:before {
    content: "PlantUML"
}

.org-src-container>pre.src-python:before {
    content: "Python"
}

.org-src-container>pre.src-ruby:before {
    content: "Ruby"
}

.org-src-container>pre.src-sass:before {
    content: "Sass"
}

.org-src-container>pre.src-scala:before {
    content: "Scala"
}

.org-src-container>pre.src-scheme:before {
    content: "Scheme"
}

.org-src-container>pre.src-screen:before {
    content: "Screen"
}

.org-src-container>pre.src-sed:before {
    content: "Sed"
}

.org-src-container>pre.src-shell:before {
    content: "shell"
}

.org-src-container>pre.src-shen:before {
    content: "Shen"
}

.org-src-container>pre.src-sql:before {
    content: "SQL"
}

.org-src-container>pre.src-sqlite:before {
    content: "SQLite"
}

.org-src-container>pre.src-stan:before {
    content: "Stan"
}

.org-src-container>pre.src-vala:before {
    content: "Vala"
}

.org-src-container>pre.src-axiom:before {
    content: "Axiom"
}

.org-src-container>pre.src-browser:before {
    content: "HTML"
}

.org-src-container>pre.src-cypher:before {
    content: "Neo4j"
}

.org-src-container>pre.src-elixir:before {
    content: "Elixir"
}

.org-src-container>pre.src-request:before {
    content: "http"
}

.org-src-container>pre.src-ipython:before {
    content: "iPython"
}

.org-src-container>pre.src-kotlin:before {
    content: "Kotlin"
}

.org-src-container>pre.src-Flavored Erlang lfe:before {
    content: "Lisp"
}

.org-src-container>pre.src-mongo:before {
    content: "MongoDB"
}

.org-src-container>pre.src-prolog:before {
    content: "Prolog"
}

.org-src-container>pre.src-rec:before {
    content: "rec"
}

.org-src-container>pre.src-ML sml:before {
    content: "Standard"
}

.org-src-container>pre.src-Translate translate:before {
    content: "Google"
}

.org-src-container>pre.src-typescript:before {
    content: "Typescript"
}

.org-src-container>pre.src-rust:before {
    content: "Rust"
}
